*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img {
    max-width: 100%;
}

.container {
    width: 1024px;
    /* text-align: center; */
    margin: auto;
}

.header {
    background: white;
    padding:15px 0px
}

.main-header-box{
    width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-header {
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-icons ul {
    list-style: none;
}

.main-icons ul li {
    margin-left: 0;
    float: left;
}

.main-icons ul li a {
    margin-left:20px;
    color: black;
    font-size: 20px;
}

.main-menu ul {
    list-style: none;
}

.main-menu ul li {
    margin-left: 0;
    float: left;
}

.main-menu ul li a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    margin-top: 30px;
}

.main-menu ul li a:hover {
    color: blue;
    transition: 0.7s;
}

.main-header-h1 {
    width: 100%;
    background: black;
    color: white;
    font-size: 15px;
}

.btn1-1 {
    padding: 10px 30px;
    background: black;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

.first-section {
    width: 1024px;
}

.first-section-box {
    background-image: url("images/salmanWP3.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.first-section-matter {
    display: flex;
    flex-wrap: wrap;
}

.first-section-part {
    width: 50%;
    align-items: center;
    /* text-align: center; */
    margin-top: 130px;
}

.img1 {
    width: 150px;
    height: auto;
    margin-top: -40px;
    margin-left: 300px;
}

.first-section-part span {
    font-style: italic;
    color: black;
}

.first-section-part h1 {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.first-section-part p {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.second-section {
    width: 1024px;
}

.second-section-box {
    
}

.img2 {
    position: relative;
    top: 0;
    left: 0;
}

.img3 {
    width: 200px;
    height: auto;
    position: absolute;
    top: 660px;
    left: 750px;
}

.second-section-matter {
    display: flex;
    flex-wrap: wrap;
}

.second-section-part {
    width: 50%;
    margin-top: 130px;
}

.second-section-part span {
    font-style: italic;
}

.third-section {
    width: 1024px;
    background: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.third-section-matter {
    display: flex;
    flex-wrap: wrap;
}

.third-section-part {
    width: 20%;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.third-section h1 {
    color: white;
}

.third-section p {
    font-size: 15px;
    color: white;
}




.fourth-section {
    width: 1024px;
    background: gray;
    margin-top: 50px;
    margin-bottom: 50px;
}

.fourth-section-matter {
    display: flex;
    flex-wrap: wrap;
}

.fourth-section-part {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fourth-section-box1 {
    display: flex;
    flex-wrap: wrap;
}

.fourth-section-part-1 {
    width: 50%;
    align-items: center;
    text-align: center;
}

.img4 {
    width: 200px;
    height: 200px;
}

.img5 {
    width: 200px;
    height: 200px;
}

.fourth-section h1 {
    color: white;
}

.fourth-section p {
    font-size: 15px;
    color: white;
}

#verticle-line1 {
    width: 1px;
    height: 150px;
    background-color: white;
    margin-left: 10%;
}

#verticle-line2 {
    width: 1px;
    height: 150px;
    background-color: white;
    margin-left: 90%;
}